app/config/config.json
public/.htaccess
public/app.cgi
cgi-bin/app.cgi
storages/logs/*
!storages/logs/README.md
build.cfg
build.dev.cfg
build.prod.cfg
bin/unit/*
!bin/README.md
!bin/unit/README.md
fp.dir
